
  

:root{
    --background-color:rgb(226, 203, 193);
    --dark-color:rgb(79, 72, 72);
    --green-color:rgb(156, 250, 156);
    --white-color:rgb(255, 255, 255);
    --purple-color:rgb(177, 158, 221);
    --backdrop-filter: blur(5px);
    --box-40: rgba(249, 207, 207, 0.4);
    --box-25: rgba(128, 127, 127, 0.25);


}


/*Global*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
}

::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;;
    background-image: linear-gradient(to bottom right, var(--background-color), var(--dark-color));
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: var(--white-color);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
    
    
}


a{
    text-decoration: none;
}

h1,h2{
    font-weight: 600;
}

h3,h4,h5,h6{
    font-weight: 500;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

section{
    background-color: var(--box-25);
    border: 1px solid var(--box-40);
    min-height: 90vh;
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter);
    
}

.main{
    max-width: 1200px;
    margin: auto;
}

.container{
    padding: 0 40px;
    width: 100%;

}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}


.padding{
    padding: 80px 0;
}

/*section title*/

.section-title{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2{
    font-size: 40px;
    text-transform: capitalize;

}

/*Buttons*/

.btn{
    line-height: 1.5;
    background-color: var(--box-25);
    border: 2px solid var(--box-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--green-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--green-color);
    z-index: -1;
    transition: width 0.3s ease;

}

.btn:hover::before{
    width: 100%;

}

.btn:hover{
    color: var(--white-color);
}

/*home*/

.frontpage-section{
    display: flex;
    padding: 80px;
   
    
}


.frontpage-text,
.frontpage-img{
    width: 50%;
    padding: 15px;
}

.frontpage-text p{
    font-size: 18px;

}

.frontpage-text h1{
    font-size: 50px;
    text-transform: capitalize;

}

.frontpage-text h2{

    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
    
}

.frontpage-text .btn{
    margin: 0 15px 15px 0;
}
.frontpage-img .img-box{
    max-width: 360px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: 8px solid var(--box-25);
    margin: auto;

}

.frontpage-img .img-box img{
    width: 100%;
    border-radius: 50%;
   
    
}
/*home ends*/


/*About section*/

.about-img{
    width: 40%;
    padding: 0 15px;
}

.about-text{
    width: 60%;
    padding: 0 15px;
}

.about-text .general-info li a{
    text-transform: lowercase;
    color: var(--green-color);
}

.about-img .img-box{
    background-color: var(--box-25);
    max-width: 380px;
    border: 1px solid var(--dark-color);
    margin: auto;
    border-radius: 30px;
}

.about-img .img-box img{
    width: 100%;
}

.about-text h3{
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .hashtags{
    display: flex;
    flex-wrap: wrap;

}

.about-text .hashtags-item{
    background-color: var(--box-25);
    border: 1px solid var(--dark-color);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}
/*About section ends*/

/*Portofolio*/

.portofolio-section{
    padding-bottom: 50px;
}

.portofolio-item{
    width: calc((100% / 3) - 30px);
    margin: 0 15px 30px;
}

.portofolio-thumbnail{
    padding: 10px;
    background-color: var(--box-40);
    border-radius: 20px;
}

.portofolio-thumbnail img{
    width: 100%;
    border-radius: 10px;
}

.portofolio-item h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

.portofolio-item-details{
    display: none;
}

.portofolio-specific{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    overflow-y: auto;
}

.pp-inner{
    min-width: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp-content{
    background-color: var(--box-40);
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
}

.pp-header{
    position: relative;
}

.pp-header .btn{
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -40px;
    top: -40px;
}

.pp-thumbnail img{
    border-radius: 10px;
}

.pp-header h3{
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;

}

.pp-body .description{
    margin-bottom: 20px;
}

.pp-body .general-info li{
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize;

}
.pp-body .general-info li span{
    font-weight: 400;
}
.pp-body .general-info li a{
    text-transform: lowercase;
    color: var(--green-color);
}


.frontpage-section h2{
    padding: 10px;
    color: var(--green-color);
}

.frontpage-section h3{
    padding: 10px 15px;
    font-size: 30px;
    
    
}

.frontpage-section p{
    padding: 10px 15px;
    font-size: 20px;
    
    

}
.frontpage-section li{
    background-color: var(--dark-color);
    padding: 10px;
    max-width: 900px;
    width: 100%;
}

/*Portofolio ends*/





/*Footer*/

.footer-container{
    max-width: 1170px;
    margin: auto;
    
    


}
.row{
    display: flex;
    flex-wrap: wrap;
    
}

.footer{
    background-color: rgb(230, 223, 223);
    padding: 70px 0;
    padding-left: 80px;
  

    
    
  
}

.footer-col{
    width: 25%;
    padding: 0 15px;
   
    
}

.footer-col h4{
    font-size: 18px;
    color: var(--dark-color);
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
    
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--dark-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
    
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(29, 73, 94);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{

    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--dark-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: rgb(230, 223, 223);
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
   color: var(--green-color);

}

/*Footer ends*/


/*mediaqueries*/

@media(max-width:991px){

    .container{
        padding: 0;
    }

    .frontpage-text,
    .frontpage-img{
        width: 100%;
    }

    .frontpage-text{
        text-align: center;
    }

    .frontpage-img{
        order: -1;
    }

    .frontpage-img .img-box{
        max-width: 300px;
    }

    .frontpage-text .btn{
        margin: 0 7px 15px;
    }
    .frontpage-section .btn{
        font-size: 30px;
    }

    .portofolio-item{
        width: calc(50% - 30px);
    }
    .frontpage-section h2{
    padding: 10px;
    color: var(--green-color);
    text-align: center;
}

.frontpage-section h3{ 
    padding: 10px 15px;
    font-size: 30px;
    text-align: center;
    
}

.frontpage-section li p{
    text-align: center;
}



}

@media(max-width:767px){
    .about-img,
    .about-text{
        width: 100%;
    }
    .about-text{
        margin-top: 30px;
    }

    .frontpage-section .btn{
        font-size: 20px;
    }

    .portofolio-item{
        width: calc(100% - 30px);
    }
    .pp-inner{
        padding: 30px 15px;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    




    

    
}

@media(max-width:575px){

    .section-title h2{
        font-size: 35px;
    }

    .frontpage-text h1{
        font-size: 30px;
    }

    .frontpage-text h2{
        font-size: 18px;
    }

    .frontpage-section .btn{
        font-size: 10px;
    }
    .frontpage-section .btn{
        font-size: 25px;
    }

    .pp-header h3{
        font-size: 20px;
    }
    .footer-col{
        width: 100%;
    }
    
    

    
}
@media(max-width:414px){
    .pp-inner{
        min-width: 20vh;
        padding: 40px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


@media(max-width:375px){
    .pp-inner{
        min-width: 50vh;
        padding: 40px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    

}
